@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color:black;
    margin-bottom: 0;
}

.title > a {
    text-decoration: none;
    color: black;
}

.title-subhead {
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
    margin: 0;
    color: black;
}

.navbar {
    position: fixed;
    top: 0;
    padding: 1.45rem 1.0875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.nav-menu a {
    margin-right: 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.15em;
    color: black;
}

.nav-menu a:hover{
    cursor: pointer !important;
}