@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color:black;
    margin-bottom: 0;
}

.title > a {
    text-decoration: none;
    color: black;
}

.title-subhead {
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
}

.navbar {
    position: fixed;
    padding: 1.45rem 1.0875rem;
}